/* wildcard class defining general formatting for the webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*defines the background color of the body*/
body {
    background-color: #d9dcd6;
}

/* defines formatting of the header. Consolidated other element selectors within the class */
.header {
    padding: .5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
    height: 10rem;
    width: 100%;
    line-height: 60px;
    position: fixed;
    z-index: 1;
    flex: 1 1 300px;
}

/* Styles unordered lists inside the nav elements */
nav ul {
    padding-top: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
} 

/* formats header 1 to 48px font size and inline block display type */
.header h1 {
    display: inline-block;  
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* defines the color and text decoration of 'a' tags */
a {
    color: #ffffff;
    text-decoration: none;
}

/* defines the font size in paragraph elements */
p {
    font-size: 16px;
}

/* defines the hero ID used to format the background image. Changed from class to ID */
#hero {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-category {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-category h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-category img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
.seo-orm-smm {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.seo-orm-smm img {
    max-height: 200px;
}

.seo-orm-smm h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
